html{
    min-width: 100%;
    min-height: 100vh;
}


body{
    height: 90vh;
    margin: 0px auto;
    padding: 0px auto;
    background-color: rgb(219, 45, 45);
    
}
  
#logo{
    margin-top: 30px;
    height: 120px;
    width: auto;
}
  
header{
    height: 90px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 5vh;
    background-color: #E40426;
}

#background{
    background-image: url(../images/background.png);
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: auto;
    padding-bottom: 5px;
}

.menu {
    list-style-type: none;
    padding: 0px;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
    font-family: stardew;
}

.menu li a img {
    display: flex;
    width: 185px; /* Ajuste o tamanho da imagem */
}
.menu li{
    width: 185px;
    height: 39px;
    text-align: center;
}
.menu li a img {
    display: none;
    width: 185px; /* Image width */
    height: 39px; /* Image height */
    padding-left: 5px; /* Padding on the left */
    object-fit: cover;
}

.menu li a.active img {
    display: inline; /* Exibe a imagem no item ativo */
}

.menu li a.active::before {
    content: '';
}

#nav{
    height: auto;
    width: auto;
    display: flex;
    align-self: flex-end;
}

#nav a{
    height: 39px;
    padding-top: 19px;
}
  
.mySlides {display:none;}
    .carrosselBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.carrosselBox  h2{
    color: white;
    font-family: micro5, Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 120px;
    width: fit-content;
}
.carrosselBox  p{
    margin-bottom: 30px;
}
.carrossel{
    max-width:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: ;
    border-radius: 15px;
    img{
        border-radius: 15px;
        margin-bottom: 15px;
        height: 500px;
        width: auto;
    }
}
  
p{
    color: rgb(0, 0, 0);
    background-color: #cdf1ffaf;
    font-family: micro5, Arial, Helvetica, sans-serif;
    width:70vw;
    margin:auto;
    padding: 10px;
    padding-top: 5px;
    text-align: justify;
    font-size: 24px;
}
  
#historia{
    border: solid rgb(175, 135, 23) 3px;
    border-radius: 5px;
    box-shadow: 3px 3px #00000025;
}
  
h1{
    text-align: center;
    color: white;
    font-family: micro5, Arial, Helvetica, sans-serif;
    font-size: 30px;
}
  
h2{
    text-align: center;
    color: white;
    font-family: micro5, Arial, Helvetica, sans-serif;
    font-size: 28px;
}
  
#link{
    text-align: center;
}
  
a{
    text-align: center;
    color: white;
    font-family:stardew, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}
a:hover{
    color: #ff0000;
}
#sobreimg{
    display: flex;
    justify-content: center;
}

.imgDev{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid rgb(175, 135, 23) 3px;
    border-radius: 5px;
}


@media screen and (max-width: 600px){
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    body, html {
        overflow-x: hidden; /* Disables horizontal scrolling */
    }
    
    #background{
        min-height: 100vh;
        background-size: cover;
        background-position-y: center;
    }

    header{
        height: 180px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        padding-bottom: 5px;
        margin-bottom: 5vh;
        background-color: #E40426;
    }

    .menu {
            list-style-type: none;
            padding: 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
    }
        
    .menu li a {
        text-decoration: none;
        font-size: 20px;
        color: #333;
    }
        
    .menu li a img {
        display: flex;
    }
    .menu li{
        height: auto;
        text-align: center;
    }
    .menu li a img {
        display: none;
        width: 150px; /* Image width */
        height: auto;
        object-fit: cover;
    }
        
    .menu li a.active img {
        display: inline; /* Exibe a imagem no item ativo */
    }
        
    .menu li a.active::before {
        content: '';
    }

    #logo{
        margin-top: 5px;
        height: 60px;
            width: auto;
    }

    #nav{
        margin: auto;
        margin-top: 0px;
        padding-top: 0px;
    }

    #secao2{
        min-height: 1400px;
    }

    .imgDev{
        display: block;
        width: 100px;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        border: solid rgb(175, 135, 23) 3px;
        border-radius: 5px;
    }

    .carrossel{
        width:350px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: fit-content;
        border-radius: 15px;
        img{
            border-radius: 15px;
            margin-bottom: 15px;
            height:200px
            width:auto;
        }
    }
    .carrosselBox  h2{
        font-size: 60px;
        padding-left: 10px;
        padding-left: auto;
    }

    #secao2{
        min-height: 1000px;
    }
}    