html{
    min-width: 100%;
    min-height: 100%;
}


body{
    height: 90vh;
    margin: 0px auto;
    padding: 0px auto;
    background-color: rgb(219, 45, 45);
    
}
  
#logo{
    margin-top: 30px;
    height: 120px;
    width: auto;
}
  
header{
    height: 90px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 5vh;
    background-color: #E40426;
}

#background{
    background-image: url(../images/background.png);
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    width: auto;
    padding-bottom: 5px;
}

#secao2{
    min-height: auto;
    background-color: rgb(219, 45, 45);

}

.menu {
    list-style-type: none;
    padding: 0px;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
    font-family: stardew;
}

.menu li a img {
    display: flex;
    width: 185px; /* Ajuste o tamanho da imagem */
}
.menu li{
    width: 185px;
    height: 39px;
    text-align: center;
}
.menu li a img {
    display: none;
    width: 185px; /* Image width */
    height: 39px; /* Image height */
    padding-left: 5px; /* Padding on the left */
    object-fit: cover;
}

.menu li a.active img {
    display: inline; /* Exibe a imagem no item ativo */
}

.menu li a.active::before {
    content: '';
}

#nav{
    height: auto;
    width: auto;
    display: flex;
    align-self: flex-end;
}

#nav a{
    height: 39px;
    padding-top: 19px;
}

.imgIndex{
    display: block;
    margin-bottom: 15px;
    height: 300px;
    width: auto;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

#starBatataStar{
    display: flex;
    flex-direction: row;
}

p{
    color: rgb(0, 0, 0);
    background-color: #cdf1ffaf;
    font-family: micro5, Arial, Helvetica, sans-serif;
    width:fit-content;
    max-width: 70vw;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    font-size: 24px;
}
  
#historia{
    border: solid rgb(175, 135, 23) 3px;
    border-radius: 5px;
    box-shadow: 3px 3px #00000025;
}
  
h1{
    text-align: center;
    color: white;
    font-family: micro5, Arial, Helvetica, sans-serif;
    font-size: 30px;
}
  
h2{
    text-align: center;
    color: white;
    font-family: micro5, Arial, Helvetica, sans-serif;
    font-size: 28px;
}
  
  
a{
    text-align: center;
    color: white;
    font-family:stardew, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}
#sobreimg{
    display: flex;
    justify-content: center;
}

.imgDev{
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}
.caixaDev{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

}

/*footer{
    margin: 0;
    padding: 0;
    width: 100%; /* Para ocupar toda a largura
    background-color: #70c725;
    display: flex;
    flex-direction: row;
    justify-content:center;
}*/


footer {
    margin: 0;
    padding: 0;
    background-color: #70c725;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
}

#map{
    display: flex;
    width: 45vw;
    justify-content: center;
    align-items: center;
}

.redes{
    width: 60px;
    height: auto;
}

.footer-section {
    flex: 1; /* Distribui espaço uniformemente */
    text-align: center;
    width:22.5vw;
    justify-content: center;
    align-items: center;
}

#map iframe {
    width: 100%; /* Ajusta para ocupar a largura do container */
    max-width: 400px; /* Limita a largura máxima */
    height: 200px;
    border: 0; /* Remove bordas extras */
    flex: 1; /* Distribui espaço uniformemente */
    text-align: center;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 600px){
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    body, html {
        overflow-x: hidden; /* Disables horizontal scrolling */
    }
    

    header{
        height: 180px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        padding-bottom: 5px;
        margin-bottom: 5vh;
        background-color: #E40426;
    }

    .menu {
            list-style-type: none;
            padding: 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
    }
        
    .menu li a {
        text-decoration: none;
        font-size: 20px;
        color: #333;
    }
        
    .menu li a img {
        display: flex;
    }
    .menu li{
        height: auto;
        text-align: center;
    }
    .menu li a img {
        display: none;
        width: 150px; /* Image width */
        height: auto;
        object-fit: cover;
    }
        
    .menu li a.active img {
        display: inline; /* Exibe a imagem no item ativo */
    }
        
    .menu li a.active::before {
        content: '';
    }

    #logo{
        margin-top: 5px;
        height: 60px;
        width: auto;
    }

    #nav{
        margin: auto;
        margin-top: 0px;
        padding-top: 0px;
    }

    .imgDev{
        display: block;
        width: 100px;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px
    }


    #secao2{
        height: auto;
    }
    .imgIndex{
        border-radius: 15px;
        margin-bottom: 15px;
        height: 150px;
        width: auto;
    }
    footer{
        flex-direction: column;
    }
}    